// PROXIMA
@font-face {
    font-family: "proxima-black";
    src: url("../fonts/proxima_ssv/ProximaNova-Black.otf") format("truetype");
}

@font-face {
    font-family: "proxima-bold";
    src: url("../fonts/proxima_ssv/ProximaNova-Bold.otf") format("truetype");
}

@font-face {
    font-family: "proxima-extrabold";
    src: url("../fonts/proxima_ssv/ProximaNova-Extrabold.otf") format("truetype");
}

@font-face {
    font-family: "proxima-regular";
    src: url("../fonts/proxima_ssv/ProximaNova-Regular.otf") format("truetype");
}

@font-face {
    font-family: "proxima-thin";
    src: url("../fonts/proxima_ssv/ProximaNova-Thin.otf") format("truetype");
}